.messages-container{
    margin-left: 5%;
}
.messages-header{
    margin-top: 12%;
    
}


.messagedata-each-card{
    border-bottom: 1px solid rgb(212, 211, 211);
    margin-top: 2%;
}
.messagedata-each-card>p{
    font-weight: 700;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.messagedata-each-span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.messagedata-delete{
    color: white;
    font-weight: 400;
    background-color: red;
    padding: 10px 20px;
    border: none;
    margin-bottom: 1%;
    margin-top: 1%;
    cursor: pointer;
}